* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    border: 10px double rgb(56, 10, 83);
    background-color: rgb(231, 202, 243);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.head {
    padding: 2rem;
    text-align: center;
}

.stopwatch {
    text-align: center;
    border: 2px solid black;
    padding: 15rem;
    background-image: url(Clock.png.jpg);
    background-size: cover;
    border-radius: 50%;
}

#display {
    font-size: 3em;
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 0%, 0.87);
    border-radius: 50%;
    color: #ffffff;
}

.controls {
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    list-style: disc;
    font-style: italic;
    padding-top: 3rem;
    font-size: 1.5rem;
}

li {
    font-size: 1em;
}
